<footer class="center">
  <div class="measure">
    <small>
    Camen.tv is the video home of stand up comedian <a href="https://www.youtube.com/channel/UC9NhO5pUIptr-8m0VRvZPag">Joey Camen</a>.
  <br>
  Follow him on <a href="https://www.youtube.com/channel/UC9NhO5pUIptr-8m0VRvZPag?sub_confirmation=1">YouTube</a>. See his <a href="http://www.imdb.com/name/nm0131436/">IMDb</a>. Hire him for <a href="http://www.voicecomic.com/contact.shtml">voice acting</a>.<br>
  <i>© 2016 Joey Camen</i> · <a href="/privacy/" style="font-style: italic">privacy policy</a>.
    </small>
  </div>
</footer>
